@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,*::before,*::after{ padding: 0;  margin: 0;  box-sizing: border-box; user-select: none}

p,h1,h2,h3,h4,ul,li,a {list-style: none; text-decoration: none;  }

p,h1,h2,h3,h4,img,
.article_section,
.article_container,
.article_title,
.article_icon,
.article_text,
.article_paragraph,
.article_wrapper,
.article_h3,
.article_group_button,
.article_btn,
.article_pic,
.article_btn_h2
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.article_section{
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 10vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.article_container{
    grid-template-columns: repeat(2,1fr);
    width: 24vw;
    height: 10vh;
    right: 35vw;


}
.article_title{
    width: 20vw;
    height: 4vh;
    font-size: 2.5vh;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: rgba(000,000,000,0.8);
    justify-content: start;
}
.article_icon{
    width: 3vw;
    height: 4vh;
}
.article_text{
    grid-template-rows: repeat(4,1fr);
    width: 60vw;
    height: 50vh;
    right: 17vw;
    justify-content: start;

}
.article_paragraph{
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: rgba(000,000,000,0.8);
    width: 60vw;
    height: 12vh;
    text-align: start;
}
.article_wrapper{
    grid-template-rows: repeat(2,1fr);
    width: 35vw;
    height: 9vh;
    right: 30vw;
}
.article_h3{
    width: 35vw;
    height: 3vh;
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: rgba(000,000,000,0.8);
}
.article_group_button{
    width: 18vw;
    height: 3vh;
    right: 8.5vw;
    grid-template-columns: repeat(3,1fr);
}
.article_btn{
    grid-template-columns: repeat(2,1fr);
    width: 12vw;
    height: 4.5vh;
    background-color: #4dba5e;
    border: none;
    border-radius: 1vh;
}
.article_pic{
    width: 3vw;
    height: 3vh;
    justify-content: start;
}
.article_btn_h2{
    width: 8.5vw;
    height: 3vh;
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: rgba(000,000,000,0.8);
    display: grid;
}

@media screen and (min-width: 100px) and (max-width: 800px) {

    .article_section{
        grid-template-rows: repeat(3,1fr);
        width: 100vw;
        height: 220vh;
        overflow: hidden;
    }

    .article_container{
        grid-template-columns: repeat(2,1fr);
        width: 95vw;
        height: 10vh;
        left:0;
        top: 10vh;
    }

    .article_title{
        width: 75vw;
        height: 5vh;
        font-size: 3vh;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        color: rgba(000,000,000,0.8);
    }

    .article_icon{
        width: 12vw;
        height: 12vh;
    }

    .article_text{
        grid-template-rows: repeat(4,1fr);
        width: 94vw;
        height: 170vh;
        left: 0;
    }
    .article_paragraph{
        width: 94vw;
        height: 34vh;
        font-size: 2.5vh;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: rgba(000,000,000,0.8);
    }
    .article_wrapper{
        grid-template-rows: repeat(2,1fr);
        width: 94vw;
        height: 25vh;
        left: 0;
        bottom: 9.5vh;
    }
    .article_h3{
        width: 94vw;
        height: 5vh;
        font-size: 3.5vh;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: rgba(000,000,000,0.8);
    }
    .article_group_button{
        grid-template-columns: repeat(3,1fr);
        width: 70vw;
        height: 3vh;
        left: 0;
    }
    .article_btn{
        grid-template-columns: repeat(2,1fr);
        width: 45vw;
        height: 6vh;
        background-color: #4dba5e;
        border: none;
        border-radius: 1vh;
    }
    .article_pic{
        width: 7vw;
        height:8vh;
        justify-content: start;
    }
    .article_btn_h2{
        width: 30vw;
        height: 5vh;
        font-size: 2.5vh;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: rgba(000,000,000,0.8);
        display: grid;
    }

}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .article_section{
        grid-template-rows: repeat(3,1fr);
        width: 100vw;
        height: 160vh;
        overflow: hidden;        
    }

    .article_container{
        grid-template-columns: repeat(2,1fr);
        width: 24vw;
        height: 10vh;
        left:2vw;
        top: 10vh;
    }

    .article_title{
        width: 65vw;
        height: 5vh;
        font-size: 3vh;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        color: rgba(000,000,000,0.8);
    }

    .article_icon{
        width: 12vw;
        height: 12vh;
    }

    .article_text{
        grid-template-rows: repeat(4,1fr);
        width: 94vw;
        height: 110vh;
        left: 0;
    }
    .article_paragraph{
        width: 94vw;
        height: 25vh;
        font-size: 2.5vh;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: rgba(000,000,000,0.8);
    }
    .article_wrapper{
        grid-template-rows: repeat(2,1fr);
        width: 94vw;
        height: 25vh;
        left: 0;
        bottom: 9.5vh;
    }
    .article_h3{
        width: 94vw;
        height: 5vh;
        font-size: 3.5vh;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: rgba(000,000,000,0.8);
    }
    .article_group_button{
        grid-template-columns: repeat(3,1fr);
        width: 70vw;
        height: 3vh;
        left: 0;
    }
    .article_btn{
        grid-template-columns: repeat(2,1fr);
        width: 45vw;
        height: 6vh;
        background-color: #4dba5e;
        border: none;
        border-radius: 1vh;
    }
    .article_pic{
        width: 7vw;
        height:8vh;
        justify-content: start;
    }
    .article_btn_h2{
        width: 30vw;
        height: 5vh;
        font-size: 2.5vh;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: rgba(000,000,000,0.8);
        display: grid;
    }
}
